# Maven build artifacts
target/
build/
dist/

# Jenkins plugin build directories
work/

# IntelliJ IDEA
*.iml
.idea/
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
.metadata
.loadpath

# NetBeans
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

# OS / Tooling
.DS_Store
Thumbs.db

# Logs and temporary fi
